body {
    background-color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

.link-icons {
    display: flex;
    justify-content: flex-end;
    margin: 110px 40px 0 0;
}

.link-icons img {
    border: solid white;
    border-radius: 50%;
    width: auto;
    height: 40px;
    padding: 5px;
    margin: 20px 20px 0 0;
}

.header-text-box {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    height: 200px;
    display: flex;
    text-align: left;
    padding-left: 80px;
    padding-bottom: 30px;
    flex-direction: column;
}

p {
    text-align: center;
}

h1 {
    margin: 5px 20px 5px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 40px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 5px;
}

h4 {
    margin: 5px 20px 20px 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
}

h6 {
    margin: 20px 20px 5px 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
}

.my-picture {
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    display: flex;
    right: 40px;
    margin: 40px 40px 0 0;
    width: 170px;
    height: 170px;
    border: 2px solid white;
}

.introduction-box {
    background-color: #F4F4F4;
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.introduction-text {
    width: 500px;
    height: 270px;
    text-align: left;
    letter-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
    opacity: 1;
    margin: 20px 0;
}

.tech {
    background-color: white;
    opacity: 0.8;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projects {
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0.8;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mylinks {
    background-color: white;
    opacity: 0.8;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mylinks img {
    height: 50%
}

.skills {
    background-color: #F4F4F4;
    opacity: 0.8;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.socials {
    background-color: white;
    opacity: 0.8;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.socials img {
    size: 5%;
    border: solid red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 3px;

}

.contact {
    background-color: #F4F4F4;
    opacity: 0.9;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-decoration: none;
}