header img {
    width: 100%;
    height: 400px;
    opacity: 0.5;
    margin: 0 auto;
}

body {
    background-color: lightpink;
    font-family: 'Montserrat', sans-serif;
}

.aboutme {
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0.8;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tech {
    width: 100%;
    background-color: white;
    opacity: 0.8;
    height: 200px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.projects {
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0.8;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mylinks {
    width: 100%;
    background-color: white;
    opacity: 0.8;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.skills {
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0.8;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    width: 100%;
    background-color: white;
    opacity: 0.8;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    width: 100%;
    background-color: #F4F4F4;
    opacity: 0.9;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}